apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
  namespace: {{ metallb_ns }}
spec:
  addresses:
  - {{ default_ip_pool }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: layer2-advertisement
  namespace: {{ metallb_ns }}
